/*
  stylesheet.css contains the css information in regards to the page layout and formatting for index.html in assignment 4. 
*/

/*Header section worked on by Andrew*/
*{
  font-family:"calibri",sans-serif;
}

body {
  margin:auto;
  width:50rem;
}

.background{
  background-color:black;
}

nav{
  background-color:darkgrey;
  text-align: center;
  margin-top:1rem;
}

ul {
  list-style-type: none;
  padding:0;
  display:inline-flex;
}

li {
  margin-right:1.5rem;
  margin-left:1.5rem;
  font-size: 1.5em;
  font-weight: 100;
}


.padding{
  padding-left:2rem;
  padding-right:2rem;

}

h1{
  color:white;
/*  box-sizing: border-box;*/
  font-size: 4em;
  font-weight: 100;
  margin: 0;
  padding:0;
  
}

.sub_head{
  color:darkgrey;
/*  box-sizing: border-box;*/
  font-size: 1.5em;
  font-weight: 100;
  margin: 0;
}

header {
  text-align: right;
  padding: 1rem 0rem 0rem 0rem;
}

header a{
  margin-bottom: 2rem;
}

header h1{
  text-align: left;
  margin-top:3rem;
}
header h3{
  text-align: left;
  margin-bottom:2rem;
}

.push_left{
  margin-right:1rem;
}

.big_link{
  font-size: 1.5em;
  font-weight:100;
}

/*Footer section worked on by Andrew*/
footer{
  
  /*position: absolute;
  padding-top:1rem;
  padding-bottom:1rem;
  margin-top:2rem;
  bottom: -250px;
  left: 240px;
  */
  
  position: absolute; 
  bottom: -230px; 
  left: 230px; 
  right: 230px;
  
}
footer p{
  color:white;
  font-size:1.15em;
  box-sizing: border-box;
  padding:2px;
  margin:5px;
}

.copyright{
  bottom: -200px;
  text-align:center;
  font-size: 10px;
  margin: 5px;
}




/*linkstates*/

a:link {
    color: red;
}


a:visited {
    color: red;
}


a:hover {
    color: skyblue;
}


a:active {
    color: skyblue;
}


/*nav linkstates*/

nav a:link {
    color: purple;
}


nav a:visited {
    color: purple;
}


nav a:hover {
    color: forestgreen;
}


nav a:active {
    color: forestgreen;
}
/********/

/*

/******************************/
/*Main section worked on by me*/
main {
  background-color: white;
}

/*sets position of class story*/
.story {
  position: absolute;
  width: 30rem;
  height: 10rem; 
  top: 300px;
  left: 240px;
}

/*Sets the all-testimonials section to the left*/
.all-testimonials {
  position: absolute;
  width: 30rem;
  height: 10rem; 
  top: 550px;
  left: 240px;
}

/*Puts the cat promotions with Odin and Biscuit to the right in a box*/
.cat-promotion {
  position: absolute;
  width: 18rem;
  height: 28rem;
  top: 325px;
  right: 230px;
  border: 1px solid black;
}

/*Sets the size of the images */
img {
  height: 120px;
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-name{
  padding: 5px;
  margin: 5px;
}

.booking {
  margin: 1px;
}

h3{
  margin: 10px;
}
/*Centers the names and headlines within the cat promotion box to be centered*/
h3, .center-name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Puts the booking text in cat promotion box to be right-aligned*/
.booking {
  text-align: right;
}

.story {
  font-size: 20px;
}
.testimonial {
  font-size: 18px;
}
/******************************/
*/